<div class="index">
    <form class="search-form" action="POST">
        <input type="text" placeholder="Search a card..." required />
        <button type="submit">Search</button>
    </form>
    <div class="buttons">
        <a href="/cards">See All Cards</a>
        <a href="/new">Add New Card</a>
    </div>
</div>
