* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

footer a {
    color: lightblue;
}

footer a:hover {
    color: aqua;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.card img {
    max-width: 100%;
    width: 300px;
    height: auto;
    translate: -25px;
    transition: all 0.2s ease-in-out;
}

.card img:hover {
    scale: 1.1;
    transform: rotate(15deg);
}

.card h2 {
    font-size: 24px;
    padding: 1rem 0;
    font-weight: bold;
    text-align: center;
}

.card p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

.collection {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    justify-content: center;
}

.single-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.single-card img {
    max-width: 100%;
    height: auto;
    translate: -40px;
}

.single-card button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.single-card button:hover {
    background-color: #555;
}

.form {
    display: flex;
    gap: 1rem;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
}

.form label {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.form input[type="text"],
.form input[type="number"],
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 16px;
    line-height: 1.5;
}

.form button[type="submit"],
.form a,
.index a {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.form button[type="submit"]:hover,
.form a:hover {
    background-color: #555;
}

.form button[type="button"] {
    padding: 10px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.form button[type="button"]:hover {
    background-color: #bbb;
}

.index {
    height: 87.85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input[type="text"] {
    width: 33%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 16px;
    line-height: 1.5;
}

.buttons {
    display: flex;
    align-self: center;
    gap: 1rem;
}

.wrapper {
    min-height: 87.85vh;
    display: flex;
}

.properties {
    font-weight: bold;
}
